.header {
    &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: .6rem;

        a {
            text-decoration: none;
            color: $color-primary;
            font-size: 1.35rem;
            margin: .5rem .8rem;
            cursor: pointer;

            &:hover {
                text-decoration: non;
            }
        }

        &--gmail {
            
            &:hover {
                text-decoration: underline;
            }
        }
        &--images {
            margin-right: .8rem;

            &:hover {
                text-decoration: underline;
            }
        }
        &--apps{
            display: flex;
            padding: 1rem;

            &:hover {
                background-color: rgba(60, 64, 67, 0.08);
                border-radius: 50%;
            }

            svg {
                fill: #5f6368;
                height: 2.4rem;
                width: 2.4rem;
                border-radius: 50%;
        
            }
        }
        &--u-profile {
            
            img {
                background-size: cover;
                background-position: center;
                height: 3.2rem;
                width: 3.2rem;
            }
        }
    }    
}