.header {
    &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: .6rem;

        a {
            text-decoration: none;
            color: $color-primary;
            font-size: 13px;
        }

        &--gmail {

        }
        &--images {

        }
        &--apps{
            display: flex;

            svg {
                height: 2.4rem;
                width: 2.4rem;
                border-radius: 50%;
        
            }
        }
    }

    

    img {
        background-size: cover;
        background-position: center;
        height: 3.2rem;
        width: 3.2rem;
    }
}